{% comment %}
------------------------------------------------------------------------------
  Section: Featured collection
  - This the main section that you should be working on
  - Main styling is done in /styles/sections/featured-collection.scss
------------------------------------------------------------------------------
{% endcomment %}

<section class="featured-collection" data-section-id="{{ section.id }}" data-section-type="featured-collection">
  <div class="container">
    {%- assign collection = collections[section.settings.collection] -%}

    <div class="featured-collection__header">
      <h2>{{ collection.title | escape }}</h2>
      <p>{{ collection.description }}</p>
    </div>
    <div class="main-carousel">
      {% for product in collection.products limit: 6 %}
        {% assign current_variant = product.selected_or_first_available_variant %}
        {% assign cells = collection.products.size %}

        <article class="carousel-cell show-4">
          <a href="{{ product.url | within: collection }}" class="carousel-cell__anchor">
            <div class="responsive-image">
              <figure class="responsive-image__wrapper featured-collection-slide-image">
                {% if product.featured_image != blank %}
                  {{ product.featured_image | img_url: 'large' | img_tag: 'jeans', 'responsive-image__image' }}
                {% endif %}
                <div class="add-cart">
                  <span js-ajax-cart="addToCart" class="add-cart__inner" data-variant-id="{{ current_variant.id }}" data-quantity="1">Add to cart</span>
                </div>
                {% for tag in product.tags %}
                  {% if tag contains 'sale' %}
                    <div class="sale-badge badge">
                      <p>Sale</p>
                    </div>
                  {% endif %}
                {% endfor %}
              </figure>
            </div>

            <div class="product-info">
              <p class="product-info__title">{{ product.title | escape }}</p>
              <span class="product-info__price">
                {% include 'product-price' %}
              </span>
            </div>
          </a>
        </article>
      {% endfor %}
    </div>
    <div class="featured-collection__footer">
      <button class="button button--dark" type="button">View collection</button>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Featured collection",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Featured collection"
      },
      {
        "id": "collection",
        "type": "collection",
        "label": "Collection"
      }
    ],
    "presets": [
      {
        "name": "Featured collection",
        "category": "Collection"
      }
    ]
  }
{% endschema %}
